*{
    margin: 0;padding: 0;
}
body{
    background: #f6f6f6;
    color: #666;
    height: 100%;
    box-sizing: border-box;
}
a {text-decoration: none; }
.my_small { font-size: 0.8rem; }
/*设置header和footer的宽高*/
.my_header,.my_footer{ width:100%;}
@media screen and (min-width: 992px) {
    .my_header{height:70px;}
    .my_footer{height:346px;}
}@media screen and (max-width: 991px) {
    .my_header{height:70px;}
    .my_footer{height:346px;}
}